.authentication-body {
  margin-top: 5.75rem;
  flex-basis: calc(100vh - 120px);
  padding: 1.5rem;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  max-width: 30rem;
  padding: 2rem;
  gap: 1rem;
  border-radius: 2px;
  box-shadow: 0px 0px 0.1rem var(--lightBlue);
}

.login-wrapper > h3,
.login-wrapper > h4,
.login-wrapper-content > h4 {
  text-align: center;
}

.login-wrapper-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.login-wrapper-content > label {
  font-weight: 500;
}

.login-wrapper-content > input {
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem 0;
  border: 2px solid;
}

.login-wrapper-content > div {
  display: flex;
  gap: 5rem;
}

.login-wrapper-content > div > a {
  text-decoration: none;
}

.login-wrapper-content > a {
  text-align: center;
  text-decoration: none;
}

.auth-button {
  background-color: var(--primary);
  color: var(--whitesmoke);
  border: 2px solid var(--primary);
}

.auth-button:hover {
  background-color: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
  -webkit-filter: none;
  filter: none;
  transition: 0.5s;
}
